.weather-box-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-height: 768px) {
    .weather-box-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .weather-box-container {
        padding: 0;
    }
}

.forecast-box {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #68727D;
    padding-right: 10px;
}

.forecast-box.expanded {
    flex-direction: column;
    justify-content: flex-start;
}

.forecast-box.collapsed {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.forecast-box-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 30px;
    margin-left: 4px;
}

.forecast-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.forecast-content-expanded {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
}

.forecast-content-collapsed {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    scrollbar-color: #C8D0D6 #EFEFEF;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    padding-right: 8px;
}

.radio-options {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;
}

.scroll-arrows {
    position: absolute;
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.scroll-arrow-left,
.scroll-arrow-right {
    border: none;
    pointer-events: all;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 220px;
    width: 40px;
    position: relative;
    overflow: hidden;
}

.scroll-arrow-left {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.arrow-left {
    font-size: 24px;
}

.arrow-left:hover {
    transform: scale(1.1);
}
.scroll-arrow-left:active {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.scroll-arrow-right {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.arrow-right {
    font-size: 24px;
}

.arrow-right:hover {
    transform: scale(1.1);
}

.scroll-arrow-right:active {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.scroll-arrow-left::before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.scroll-arrow-right::before {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.scroll-arrow-placeholder {
    width: 40px;
    height: 220px;
}