/* Searchbar.css */

.searchbar-container {
    background-color: #FCFCFC;
    border-radius: 10px;
    border: 1.5px solid #A1AAB5;
    width: 300px;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 30px;
    align-items: center;
    transition: width 0.5s;
    z-index: 1000;
}

@media screen and (max-width: 500px) {
    .searchbar-container {
        width: 70%;
        margin-left: 10px;
    }

    .searchbar-input {
        width: 70%;
    }
}

.searchbar-input {
    width: 100%;
    border: none;
    background: none;
    color: #68727D;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    outline: none;
}

/* class to edit on input click */
.searchbar-input:focus {
    outline: none;
}

.searchbar-icon {
    color: #68727D;
    font-size: 24px;
    margin-right: 5px;
    flex-shrink: 0;
}